h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

.logo {
  width: 115px;
  height: 76px;
  background-image: url(../images/logo.png);
  background-position: center;
  background-size: cover; }
  .logo__link {
    display: block;
    width: 100%;
    height: 100%; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__link {
  display: block;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .nav__link:hover {
    color: #9fadc2; }
  .nav__link--active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }

.mobile-nav {
  background-color: #0075ff;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 120px;
  padding-bottom: 39px; }
  .mobile-nav__item {
    margin-left: 21px;
    margin-bottom: 32px; }
    .mobile-nav__item--phone {
      margin-top: 16px;
      margin-bottom: 18px; }
  .mobile-nav__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 22px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .mobile-nav__link:hover {
      color: #9fadc2; }
  .mobile-nav__link[href="tel:+12345555555"] {
    font-size: 12px; }
  .mobile-nav__action {
    margin-left: 21px; }
    .mobile-nav__action-link {
      font-size: 12px;
      line-height: 16px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      letter-spacing: 2px;
      transition: color 0.3s; }
      .mobile-nav__action-link:hover {
        color: #9fadc2; }
      .mobile-nav__action-link::after {
        content: "";
        display: block;
        height: 1px;
        background-color: #fff;
        margin-top: 8px; }

.header {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  padding: 24px 0 48px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 314px; }
  .header__phone {
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__phone:hover {
      color: #9fadc2; }
  .header__phone-img {
    display: none; }
  .header__link {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__link:hover {
      color: #9fadc2; }
    .header__link::after {
      content: "";
      display: block;
      height: 1px;
      background-color: #fff;
      margin-top: 8px; }
  .header__title {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.5px;
    color: #fff;
    margin-bottom: 85px; }
    .header__title::before {
      content: "";
      display: block;
      width: 35px;
      height: 2px;
      margin-bottom: 16px;
      background-color: #fff; }

.hamburger-menu {
  display: none; }

.section {
  margin-top: 152px; }
  .section__header {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 93px; }
    .section__header--gallery {
      margin-bottom: 61px; }
    .section__header::after {
      content: "";
      display: block;
      width: 23px;
      height: 16px;
      background: url(../images/crown.svg) no-repeat center;
      margin: 0 auto; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 104px; }
  .info__title {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px; }
    .info__title-link {
      color: #0075ff;
      text-decoration: none; }
  .info__text {
    width: 500px; }
    .info__text-header {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: #0075ff;
      margin-bottom: 16px; }
  .info__strong-text {
    display: block;
    margin-top: 32px;
    font-weight: bold; }

.gallery__description {
  margin-top: 24px;
  margin-bottom: 40px; }
  .gallery__description-link {
    color: #0075ff;
    font-weight: bold; }

.gallery__link {
  display: block;
  text-align: center;
  width: 188px;
  height: 56px;
  margin: 0 auto;
  line-height: 56px;
  font-weight: bold;
  border: 2px solid #0075ff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  color: #0075ff;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .gallery__link:hover {
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }

.gallery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.gallery__photo {
  width: calc(50% - 10px);
  height: 256px;
  overflow: hidden;
  border-radius: 8px; }
  .gallery__photo--67 {
    width: calc(67% - 10px); }
  .gallery__photo--33 {
    width: calc(33% - 10px); }

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1); }

.gallery__photo:hover .gallery__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .consultation__info {
    width: 412px; }
  .consultation__title {
    font-size: 24px;
    line-height: 30px;
    color: #0075ff;
    margin-bottom: 16px; }

.form {
  width: 413px; }
  .form__input {
    width: 100%;
    padding: 17px;
    background: #f7f8ff;
    border: 1px solid #f7f8ff;
    outline: none;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 14px;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .form__input::-webkit-input-placeholder {
      color: #b9c1ce; }
    .form__input::-moz-placeholder {
      color: #b9c1ce; }
    .form__input:-ms-input-placeholder {
      color: #b9c1ce; }
    .form__input::-ms-input-placeholder {
      color: #b9c1ce; }
    .form__input::placeholder {
      color: #b9c1ce; }
    .form__input:focus {
      -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
              box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46); }
  .form__btn {
    padding: 21px;
    margin-top: 16px;
    background: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
    font-weight: bold;
    color: #fff;
    -webkit-transition: -webkit-box-shadow 0.3s;
    transition: -webkit-box-shadow 0.3s;
    transition: box-shadow 0.3s;
    transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
    .form__btn:hover {
      -webkit-box-shadow: 1px -5px 10px rgba(0, 144, 255, 0.46);
              box-shadow: 1px -5px 10px rgba(0, 144, 255, 0.46); }
  .form__textarea {
    font-family: "Roboto", sans-serif;
    height: 144px;
    resize: none; }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .testimonials__item {
    width: 240px;
    text-align: center; }
  .testimonials__name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: #0075ff;
    margin-top: 28px; }
  .testimonials__position {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-top: 4px;
    margin-bottom: 13px; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .contact__phone-email, .contact__address {
    width: 152px; }
  .contact__phone-title, .contact__email-title, .contact__address-title {
    font-size: 14px;
    line-height: 27px;
    color: #9fadc2;
    margin-bottom: 8px; }
  .contact__email-title {
    margin-top: 24px; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 359px;
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 72px; }

@media screen and (max-width: 1020px) {
  .container {
    padding: 0 20px; }
  .section {
    margin-top: 64px;
    margin-bottom: 0; } }

@media screen and (max-width: 768px) {
  .section__header {
    margin-bottom: 53px; }
  .header {
    position: relative; }
    .header__top {
      margin-bottom: 320px; }
    .header__title {
      margin-bottom: 32px; }
    .header__phone-img {
      display: block; }
    .header__hamburger-icon::before {
      content: "";
      background-image: url(../images/hamburger.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 12px;
      position: absolute;
      top: 42px;
      right: 23px;
      cursor: pointer; }
    .header__hamburger-icon::after {
      display: none;
      content: "";
      position: absolute;
      right: 24px;
      top: 40px;
      z-index: 1;
      background-image: url(../images/close.svg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 16px;
      width: 16px;
      cursor: pointer; }
    .header__phone {
      display: none; }
    .header__action {
      display: none; }
  .logo {
    width: 73px;
    height: 48px;
    z-index: 1; }
  .nav__list {
    display: none; }
  .hamburger-menu:checked ~ .mobile-nav {
    top: 0;
    opacity: 1; }
  .hamburger-menu:checked ~ .header__hamburger-icon::before {
    display: none; }
  .hamburger-menu:checked ~ .header__hamburger-icon::after {
    display: block; }
  .info {
    margin-top: 64px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info__title {
      margin-bottom: 48px;
      width: auto; }
    .info__text {
      width: auto; }
  .gallery__description {
    margin-top: 16px;
    margin-bottom: 32px; }
  .gallery__photo {
    width: calc(50% - 10px);
    height: 131px; }
  .gallery__link {
    width: 100%; }
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .consultation__info {
      width: auto;
      margin-bottom: 32px; }
  .form {
    width: auto; }
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .testimonials__item {
      width: 280px;
      margin-bottom: 48px; }
      .testimonials__item:last-child {
        margin-bottom: 0; }
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .contact__phone-email, .contact__address {
      width: auto; }
    .contact__address {
      margin-top: 24px;
      margin-bottom: 32px; }
  .footer {
    height: 206px;
    margin-top: 64px; } }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  scroll-behavior: smooth; }

.container {
  max-width: 1020px;
  margin: 0 auto; }

/*# sourceMappingURL=main.css.map */
